
@import "fonts.scss";

// Bootstrap deps
//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/maps";
//@import "../node_modules/bootstrap/scss/mixins";
//@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/root";
//@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/forms";

@import "../node_modules/fontawesome-4.7/scss/font-awesome";

$primary: #83014c;
$secondary: #330033;
$white: #fff;
$body-bg: #b7b0b0;


// Footer and category badges etc
$gray-200: #ecedee;
$border-gray: #cecfcf;

// Fonts
$font-size-base: 12px;

$font-size-xs: .75rem; 		// 12px
$font-size-sm: 0.875rem; 	// 14px
$font-size-base: 1.0625rem; // 17px
$font-size-lg: 1.25rem;		// 20px

// Headings
$h1-font-size: 2.625rem;
$h2-font-size: 1.375rem;
$h3-font-size: 1.375rem;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$headings-font-family: 'Barlow Semi Condensed', sans-serif;
$font-family-base: 'Roboto', sans-serif;

// golden ratio margins...
$margin-xxs: 0.309rem;
$margin-xs: 0.5rem;
$margin-sm: 0.809rem;
$margin-md: 1.309rem;
$margin-lg: 2.118rem;
$margin-xl: 3.4270510rem;

// Break points
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1224px;

// Resets
html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: $font-family-base;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body {
    background-color: $body-bg;

    display: grid;

    grid-template-areas: "banner hero hero" "banner main social" "footer footer footer";


    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 16rem 1fr min-content;

    @media (max-width: $breakpoint-sm) {
        grid-template-areas: "banner banner" "main main" "social social" "footer footer";
        grid-template-columns: unset;
        grid-template-rows: none;
    }

    @media (min-width: $breakpoint-lg) {
        grid-template-columns: 20rem $breakpoint-sm auto;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $headings-font-family;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.banner {
    grid-area: banner;
    
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    font-family: $headings-font-family;

    .country-code {
        position: relative;
        float: right;
        top: 2rem;
        right: 3rem;
        font-size: 3rem;
        color: #b5abe4; // fixme
    }

    .logo {
        width: 16rem;
        padding: 2rem 3rem;
        color: $white;
    }

    nav a {
        text-transform: uppercase;
    }
}


.nav > ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        padding: 1rem 3rem;

        a {
            color: $white;
            text-decoration: none;
        }
    }
}

.hero {
    grid-area: hero;

    background-image: url(../images/wl-test-bg.jpg);
    background-size: cover;
    background-position-y: 400px;
}

.social {
    grid-area: social;

    header {
        display: none;
    }

    display: grid;
    grid-gap: 1rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: right;

    @media (max-width: $breakpoint-sm) {
        margin: 0 auto;
        align-items: unset;
        justify-content: unset;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
    }
}

.footer {
    grid-area: footer;

    background-color: $gray-200;
    padding: 2rem 3rem;
}

.main-content {
    grid-area: main;
    padding: 1rem 3rem 4rem 3rem;
    background-color: $white;
    //max-width: 768px;
    //min-width: 50%;
    //justify-self: left;
}

// About page
.people {
    .person-list {
        display: grid;
        grid-gap: 1rem;

        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.people .person {
    display: grid;

    grid-template-areas: "person-image person-name" "person-image person-about";
    grid-gap: 1rem;

    .person-image {
        grid-area: person-image;

        border-radius: 50%;
        width: 10rem;
        height: auto;
    }

    .person-name {
        grid-area: person-name;
        margin: 0;
    }

    .person-about {
        grid-area: person-about;
    }
}

// Contact page
.form {
    fieldset {
        border: 1px solid $border-gray;
    }

    .form-group {
        margin-bottom: $margin-sm;

        label,
        input {
            display: block;
        }

        label {
            margin-bottom: $margin-xs;
        }

        input,
        textarea {
            width: 100%;
            border-radius: 0;
            border: 1px solid $border-gray;
            padding: $margin-xxs $margin-xs;
        }
    }

    button {
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        padding: $margin-xs $margin-xs;
        border-radius: 0;
        border: 1px solid transparent;
        cursor: pointer;
        background-color: $primary;
        color: $white;
        line-height: 1.5;

        &:hover {
            background-color: darken($primary, 5%);
        }
    }
}
